.brewery_layout div {
  display: flex;
  padding: 0px;
  margin-left: 5px;
}

.brewery_layout p,
.brewery_layout a {
  margin-left: 4px;
}

.brewery_header div {
  padding: 10px;
  margin: 10px 20px 0px 0px;
}

.breweries_button {
  margin-top: 20px;
}
